@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgba(44, 10, 82, 0.978);
  color: white;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}